<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Create an Account</h1>

    <form method="POST" action="{{ url_for('signup_page') }}">
        <div>
            <label for="first_name">First Name:</label><br>
            <input type="text" id="first_name" name="first_name" required>
        </div><br>

        <div>
            <label for="last_name">Last Name:</label><br>
            <input type="text" id="last_name" name="last_name" required>
        </div><br>

        <div>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required>
        </div><br>

        <div>
            <label for="address">Address:</label><br>
            <input type="text" id="address" name="address" required>
        </div><br>

        <div>
            <label for="post_code">Post Code:</label><br>
            <input type="text" id="post_code" name="post_code" required>
        </div><br>

        <div>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required>
        </div><br>

        <div>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required>
        </div><br>

        <input type="submit" value="Sign Up">
    </form>

    <p>Already have an account? <a href="{{ url_for('login_page') }}">Log in here</a></p>
</body>
</html>

